<div class="columns is-centered">
  <div class="column is-half">
    <div class="box">
      <h1 class="title is-3 has-text-centered">About Minus 1</h1>

      <p class="content"> Minus 1 is a real time strategy recall assistant for
      gamers. Its purpose is be to assist tacticians during a match. It can be
      used for any game.
      </p>

      <h2 class="title is-5"> Current Problem</h2>

      <p class="content">
      If you have many players on your teams, it’s time consuming to explain a 
      strategy to each individual player when they all have different roles. 
      Furthermore, a strategist may have to limit the complexity of their 
      strategies due to time constraints.
      </p>


      <h2 class="title is-5">Solution</h2>

      <p class="content">
      With this app someone or a group can create and store a detailed and 
      complex strategy that outlines orders for each player. When the game 
      starts each  player will receive individual orders (this will be 
      through audio). Interacting with the app will be done though speech or 
      hotkeys.
      </p>
    </div>
  </div>
</div>