<div class="columns is-centered">
  <div class="column is-half">
    <div class="box">
      <h1 class="title is-3 has-text-centered">About Minus1</h1>

      <p class="content"> Minus1 is a tactical assistant for gamers. The
      website hosts the strategy builder. The windows desktop app is used to 
      interact with the strategies. Its purpose is to assist tacticians during
      a match. Although Minus1 is intended for team based strategy games, it
      is compatible with any game.
      </p>

      <p class="content">
        Within the website someone or a team can create and store a strategy
        that outlines orders for each player. This strategy can be simple or
        extremely complex. When the game starts each player will receive 
        individual orders (this will be through audio) from the desktop 
        client. Interacting with the app will be done though speech.
      </p>

      <p class="content has-text-centered">
        <i class="fas fa-envelope-open"></i>
        <span>hello@minus1.app</span>
      </p>
    </div>
  </div>
</div>