<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.reverse.each do |provider| %>
    <div class="omniauth-logins">
      <a href="<%=omniauth_authorize_path(resource_name, provider)%>">
        <i class="fab fa-<%=provider%> fa-3x"></i>
        <%="Sign in with #{OmniAuth::Utils.camelize(provider)}"%>
      </a>
    </div>
  <% end -%>
<% end -%>
