<li id="breadcrumb-objective">
  <a href="<%= @recipe ? objective_path(@objective) : '#'%>">
    <span class="icon is-small">
      <i class="fas fa-trophy" aria-hidden="true"></i>
    </span>
    <span>Objective</span>
  </a>
</li>
