<%= render 'shared/breadcrumb' %>

<div class="columns is-centered">
  <div class="column is-one-third">
    <% if policy(@objective.strategy).destroy? %>	
      <%= link_to "Delete objective", objective_path(@objective), 	
                        method: :delete,	
                        data: { 	
                          confirm: 	
                          "Are you sure you want to delete #{@objective.name}?" 	
                        }, 	
                        class: "button is-black is-pulled-right is-small is-rounded" %>	
    <% end %>

    <h1 class="title is-5">Editing Objective</h1>

    <%= render 'form', objective: @objective %>
    <%= link_to 'Cancel', objective_path(@objective), class:"is-pulled-right button is-black" %>
  </div>
</div>
