<footer class="footer">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <a href="https://discord.gg/SW4P372" aria-label="Go to our Discord server">
          <i aria-hidden="true" class="fab fa-discord fa-2x fa-links"></i>
        </a>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <a href="https://twitter.com/minus1app" aria-label="Go to our Twitter page">
          <i aria-hidden="true" class="fab fa-twitter fa-2x fa-links"></i>
        </a>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <a href="https://www.reddit.com/r/Minus1/" aria-label="Go to our Reddit page">
          <i aria-hidden="true" class="fab fa-reddit fa-2x fa-links"></i>
        </a>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <a href="https://github.com/RonWalker22/minus1" aria-label="Go to our Github page">
          <i aria-hidden="true" class="fab fa-github fa-2x fa-links"></i>
        </a>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <a href="https://www.youtube.com/channel/UCoHtMzvmJ4LERM60EaGIH5g" aria-label="Go to our YouTube page">
          <i aria-hidden="true" class="fab fa-youtube fa-2x fa-links"></i>
        </a>
      </div>
    </div>
  </nav>
  <div class="has-text-centered">
    <%= image_tag 'tactical-sugar.png', alt: 'Tactical Sugar logo'%>
  </div>
</footer>