<footer class="footer">
  <div class="content has-text-centered">
    <%=  link_to "Github", 'https://github.com/RonWalker22/minus1', target: "_blank" %> 
    <%=  link_to "Reddit", 'https://www.reddit.com/r/Minus1/', target: "_blank" %> 
  </div>
</footer>