<aside class="menu">
  <p class="menu-label">
    Current Game: 
  </p>
  <ul class="menu-list">
    <li><a>Change Game</a></li>
    <li><a>Customers</a></li>
  </ul>
  <p class="menu-label">
    Settings
  </p>
  <ul class="menu-list">
    <li><a>Level</a>
      <ul>
        <li><a>Members</a></li>
        <li><a>Plugins</a></li>
        <li><a>Add a member</a></li>
      </ul>
    </li>
    <li>
      <a class="is-active">Mode</a>
      <ul>
        <li><a>Members</a></li>
        <li><a>Plugins</a></li>
        <li><a>Add a member</a></li>
      </ul>
    </li>
  </ul>
</aside>