<aside class="menu">
  <p class="menu-label">
    Current Game: 
  </p>
  <ul class="menu-list">
    <li><a>Change Game</a></li>
    <li><a>Customers</a></li>
  </ul>
  <p class="menu-label">
    Settings
  </p>
  <ul class="menu-list">
    <li><a>Level</a>
      <ul>
      <% Level.all.each do |level| %>
        <li><a href=""><%= level.name %></a></li>
      <% end %>
      </ul>
    </li>
    <li>
      <a class="is-active">Mode</a>
      <ul>
      <% Mode.all.each do |mode| %>
        <li><a href=""><%= mode.name %></a></li>
      <% end %>
      </ul>
    </li>
  </ul>
</aside>