<div class="columns is-centered">
  <div class="column is-narrow">
    <div class="box">
    <a class="button is-success is-rounded is-small is-pulled-left"
      title="Disabled button" disabled>Rate</a>
      <%=  link_to "Clone", 
                  docs_path,
                  class: 'button is-small is-rounded is-pulled-right' %>
      <h1 class="title is-5 has-text-centered">
      <%= "#{@strategy.name} #{controller_name.capitalize.singularize}" %>
      </h1>