<div class="columns is-centered">
  <div class="column is-one-third">
    <h1>Editing Mode</h1>

    <%= render 'form', mode: @mode %>
    <%= link_to 'Cancel', game_path(@game), class:"is-pulled-right button is-black" %>
  </div>
</div>

