<div class="columns is-centered">
  <div class="column is-one-third">
    <h1>Editing Respawn</h1>

    <%= render 'form', respawn: @respawn %>
    <%= link_to 'Cancel', game_path(@game), class:"is-pulled-right button is-black" %>
  </div>
</div>