@import 'custom-variables';
$link: $link-color;
$navbar-item-img-max-height: 4rem;
$navbar-dropdown-arrow: black;
$box-background-color: transparent;
$title-color: $text;
$navbar-background-color: $secondary-bg;
$navbar-dropdown-item-hover-color: $link-color;
$label-color: $text;
$table-color: $secondary-bg;
$table-background-color: transparent;
$table-cell-border: 1px solid $secondary-bg;
$table-head-cell-color: $text;
$link-visited: $link;
$link-hover: $link;
$table-row-hover-background-color: #8dc26f;
$table-striped-row-even-hover-background-color: #8dc26f;
$table-striped-row-even-background-color: #5a3f37;
$button-background-color: $link-color;
$button-border-width: 0;
$button-color: black;
$button-hover-color: $secondary-bg;
$tabs-link-hover-color: $link-color;
$tabs-link-hover-border-bottom-color: $link-color;
$table-cell-heading-color: $text;
$breadcrumb-item-hover-color: black;
$tag-color: black;
$tag-background-color: #a2ab58;
