@import 'custom-variables';
$link: $link-color;
$navbar-item-img-max-height: 4rem;
$navbar-dropdown-arrow: black;
$box-background-color: #00000033;
$title-color: $text-color;
$navbar-background-color: transparent;
$navbar-dropdown-item-hover-color: $link-color;
$navbar-item-hover-background-color: transparent;
$navbar-dropdown-background-color: #bac1b0;
$navbar-tab-hover-background-color: transparent;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-divider-background-color: $border;
$navbar-item-color: $secondary-bg;
$label-color: $text-color;
$table-color: $secondary-bg;
$table-background-color: transparent;
$table-cell-border: 1px solid $secondary-bg;
$table-head-cell-color: $text-color;
$link-visited: $link;
$link-hover: $link;
$table-row-hover-background-color: #8dc26f;
$table-striped-row-even-hover-background-color: #8dc26f;
$table-striped-row-even-background-color: #8b000038;
$button-background-color: #aa3a38;
$button-border-width: 0;
$button-color: white;
$button-hover-color: $secondary-bg;
$tabs-link-hover-color: $link-color;
$tabs-link-hover-border-bottom-color: $link-color;
$tabs-border-bottom-color: black;
$tabs-link-color: $secondary-bg;
$table-cell-heading-color: $text-color;
$breadcrumb-item-hover-color: $link-color;
$breadcrumb-item-color: $secondary-bg;
$breadcrumb-item-hover-color: $link-color;
$breadcrumb-item-active-color: $link-color;
$tag-color: white;
$tag-background-color: #aa3a3891;
$modal-card-body-background-color: $primary-bg;
$tabs-link-active-color: $link-color;
$tabs-link-active-border-bottom-color: $link-color;
$box-shadow: 0 2px 9px 0px black, 0px 0px 0px 3px $link-color;
$footer-background-color: black;
$box-color: $text-color;
$footer-padding: 3rem 1.5rem 2rem;
