@import 'custom-variables';
$link: $link-color;
$navbar-item-img-max-height: 4rem;
$navbar-dropdown-arrow: black;
$text: #52c234;
$box-background-color: $primary-bg;
$title-color: $text;
$navbar-background-color: $secondary-bg;
$navbar-dropdown-item-hover-color: $link-color;
$label-color: $text;
