$primary-bg: #232526;
$secondary-bg: white;
$secondary-bg: silver;
$third-bg: #225643ed;
$menu-bg: #225643ed;
$slash-color: #69737f;
$link-color: #aa3a38;
$text-color: $secondary-bg;
$border: $primary-bg;
