@import 'custom-variables';

.html-bg {
  background-color: $primary-bg;
  background: #225643ed;
}

body {
  color: white;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #69737f 11px
  );
  min-height: 70vh;
}

.box-margin {
  margin-top: 4em;
}
