@import 'custom-variables';

body {
  color: white;
  background: $primary-bg;
  min-height: 70vh;
}

.inner-body {
  min-height: 76vh;
}

input {
  &[type='number'] {
    max-width: 5em;
  }
}

.menu {
  background: repeating-linear-gradient(
    -45deg,
    $menu-bg,
    $menu-bg 10px,
    #69737f61 11px
  );
}

table {
  a {
    color: $secondary-bg;
    &:hover {
      color: $link-color;
    }
  }
}

.strategy-box {
  height: 40em;
}

.room-box {
  height: 40em;
}

#team-tabel {
  display: none;
}

#index-tabel {
  display: none;
}

caption {
  color: $text-color;
}

nav {
  ul {
    background: $secondary-bg;
  }
}

.half-opacity {
  opacity: 0.5;
}

.enter-btn {
  margin-left: 4em;
  margin-top: 2em;
}

.columns:last-child {
  margin-bottom: 0rem;
}

.idgb-game:nth-child(3n) {
  background: #00000070;
}
.idgb-game:nth-child(1) {
  background: #215f0047;
}

.idgb-game:nth-child(3n + 4) {
  background: #215f0047;
}

.content {
  color: $secondary-bg;
}

.hide {
  display: none !important;
}

.tag {
  .is-link {
    color: black;
  }
  .is-link:hover {
    color: $link-color;
  }
}

.tags-padding {
  th {
    padding: 4em !important;
  }
}

tfoot th {
  color: #52c234 !important;
}

.ingredient-form {
  min-height: 35em;
}

.notice,
.alert {
  background: #5a3f37;
  background: linear-gradient(to left, #2c7744, #5a3f37);
  color: white;
}

.fa-links {
  color: $primary-bg;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 400px) {
  .menu {
    // max-width: 30vh;
    text-align: center;
  }
}

/* table Screen Sizes */
@media only screen and (min-width: 770px) {
  .menu {
    float: left;
    max-width: none;
    text-align: left;
  }
}

/* Desktop screen Sizes */
// @media only screen and (min-width: 1024px) {
// }
