@import 'custom-variables';

.html-bg {
  background-color: $primary-bg;
}

body {
  color: white;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 49px,
    #225643a1 50px
  );
  min-height: 70vh;
}

.box-style {
  margin-top: 4em;
  background: repeating-linear-gradient(
    -45deg,
    #22463c,
    #22463c 10px,
    #ce53105e 11px
  );
}

input {
  &[type='number'] {
    max-width: 5em;
  }
}
